.vouchers__header {
  background-color: #039752;
  color: #fff;
  padding: 30px 30px;
  position: relative;
}

.vouchers__header a {
  color: #fff;
}

/* Header search section */
.extraPadding {
  height: 14px;
}

.headerContent .search__wrapper {
  position: absolute;
  bottom: -24px;
  width: 100%;
  padding-right: 30px;
  max-width: calc(100% - 30px);
}

.headerContent .search__container {
  position: relative;
  display: flex;
  width: 100%;
  /* max-width: calc(100% - 30px); */
}

.headerContent .search__bar {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  /* border: 1px solid black; */
}

.headerContent .search__bar.focused {
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.headerContent .search__button {
  background-color: transparent;
  padding: 12px;
  color: #039572;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
}

.headerContent .clear__button {
  background-color: transparent;
  padding: 12px;
  color: #039572;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
}

/* Vouchers Table */
.vouchers table {
  width: 100%;
  /* box-shadow: inset 0 0 0 1px black; */
  border-collapse: collapse;
  border-radius: 10px;
  margin-top: 30px;
}

.vouchers th {
  padding: 15px 20px;
}

.vouchers td {
  padding: 30px 20px;
}

.vouchers td:first-child {
  padding-left: 30px;
}

.vouchers th {
  resize: horizontal;
  background-color: #e6e6e6;
}

.vouchers th:first-child {
  padding-left: 30px;
}

.vouchers tr:first-child th:first-child {
  border-top-left-radius: 10px;
  /* padding-left: 20px; */
}

.vouchers tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.vouchers tr:not(:last-child) {
  border-bottom: 1px solid rgb(175, 175, 175);
}

.vouchers td:last-child {
  text-align: right;
  padding-right: 30px;
  /* border-bottom-left-radius: 10px; */
}

.vouchers tr:last-child td:last-child {
  border-bottom-right-radius: 10px;

}

.vouchers tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.vouchers td.controls {
  user-select: none;
}

.vouchers td.controls i {
  font-size: 1.2em;
  cursor: pointer;
}

.vouchers td.controls i:not(:last-child) {
  margin-right: 0.6em;
}

td.controls i {
  color: #6e6e6e;
}

td.controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.vouchers tbody tr {
  background-color: #eee;
  transition: background-color 0.3s;
  color: #6e6e6e;
}

.vouchers tbody tr:hover {
  background-color: rgb(204, 204, 204);
}

.vouchers tbody tr:last-child:hover {
  border-radius: 6px;
}

.vouchers tbody td:last-child i {
  transition: color 0.3s
}

.vouchers tbody td:last-child i:first-child {
  margin-right: 20px;
}

.vouchers tbody td:last-child i:hover {
  color: #039752;
  transform: color 0.3s;
}

.vouchers p {
  margin:0;
}

.vouchers p:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.voucherId {
  padding-left: 20px;
}

/* Pagination */
/* Pagination */
.vouchers__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.vouchers__pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.vouchers__pagination li {
  display: inline-block;
  font-family: "OpenSansSemibold";
}

.vouchers__pagination .page__button {
  text-decoration: none;
  padding: 8px 14px;
  color: #039752;
  border: 1px solid #039752;
  border-radius: 100px;
}

.vouchers__pagination .active .page__button {
  background-color: #039752;
  padding: 12px 18px;
  color: white;
}

.pageNext__button {
  margin-left: 10px;
}

.pagePrevious__button {
  margin-right: 10px;
}

.pageNext__button a {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

.pagePrevious__button a {
  background-color: #e6e6e6;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

/* Modal Styles */
.voucherDetails__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.voucherDetails__modal .modal-content h2 {
  font-family: "OpenSansSemibold";
  font-size: 1.3em;
  margin-bottom: 0;
}

.voucher__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.voucherModal__content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
}

.voucherDetails__container {
  margin-top: 20px;
}

.voucher__detail {
  margin-bottom: 15px;
  display: flex;
}

.voucher__detail strong {
  width: 150px;
  margin-right: 20px;
  font-weight: bold;
}

pre {
  font-family: "OpenSansRegular";
  font-size: 1em;
}