h1 {
  font-family: "OpenSansSemibold";
  font-size: 1.5em;
  margin-bottom: 30px;
}

.addVoucher__Form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.addVoucher__code {
  width: 15vw;
}

.addVoucher__description {
  width: 35vw;
}

.addVoucher__voucherType {
  width: 20vw;
}

.addVoucher__discountValueField {
  width: 15vw;
}

.addVoucher__criteriaSection {
  margin-top: 20px;
}

.addVoucher__criteriaSection h3 {
  font-family: "OpenSansSemibold";
  font-size: 1.3em;
  margin-bottom: 10px; 
}

.addVoucher__expiryDays {
  display: flex;
  flex-direction: column;
  width: 15vw;
}

.addVoucher__button {
  width: 10vw;
  height: 45px;
  background-color: #039752;
  border: 0;
  font-family: "OpenSansSemibold";
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
}