{% extends "views/base.html" %}
{% set active_page = "login" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/auth/login.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login__wrapper">
  <div class="login__left">
    <!-- <img src="{{ url_for('static', filename='../static/media/spiral_bg.jpg') }}" alt=""> -->
  </div>
  <div class="login__right">
    <h1 id="login__header">Login</h1>
    <p id="login__subtitle">Welcome back!</p>
    <form method="POST" class="login__form">
      {{ form.hidden_tag() }}

      <!-- Flash validation -->
      {% include "components/flashValidation.html" %}
      
      <div class="login__email">
        {{ form.emailUsername.label }}
        {{ form.emailUsername(class="form-control", placeholder="yourname@example.com") }}
        {% if form.emailUsername.errors %}
          {% for error in form.emailUsername.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <div class="login__password">
        {{ form.password.label }}
        <div class="password-wrapper">
          {{ form.password(class="form-control password", placeholder="Your password") }}
          <button type="button" id="toggle-password" class="password-toggle">
            <i class="fa-solid fa-eye" id="eye-icon"></i>
          </button>
        </div>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <p id="forgot__password"><a href="/reset-password">Forgot Password?</a></p>
      <hr id="divider">
      <div class="button__wrapper">
        {{ form.submit(class="login__button") }}
        <a class="login__google" href="{{ url_for('auth.google_login') }}"><img src="{{ url_for('static',filename='media/GoogleIcon.svg') }}" id="login__google" alt="GoogleIcon">Continue with Google</a>
        <p id="login__subtitle--reminder">Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
    
  </div>
</div>


{% endblock %}

{% block body_scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/passwordVisibility.js') }}"
></script>
{% endblock %}