{% extends "views/base.html" %}
{% set active_page = "register" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/auth/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register__wrapper">
  <div class="register__left">
    <!-- <img src="{{ url_for('static', filename='../static/media/spiral_bg.jpg') }}" alt=""> -->
  </div>

  
  <div class="register__right">
    <h1 id="register__header">Register</h1>
    <p id="register__subtitle">Let's order something amazing together.</p>
    <form method="POST" class="register__form">
      {{ form.hidden_tag() }}

      <!-- Flash validation -->
      {% include "components/flashValidation.html" %}

      <div class="register__name">
        <div class="register__firstName">
          {{ form.firstName.label }}
          {{ form.firstName(class="form-control", placeholder="First Name") }}
        </div>
        <div class="register__lastName">
          {{ form.lastName.label }}
          {{ form.lastName(class="form-control", placeholder="Last Name") }}
        </div>
      </div>
      <div class="register__email">
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="yourname@example.com") }}
      </div>
      <div class="register__password">
        {{ form.password.label }}
        <div class="password-wrapper">
          {{ form.password(class="form-control password", placeholder="Your password") }}
          <button type="button" id="toggle-password" class="password-toggle">
            <i class="fa-solid fa-eye" id="eye-icon"></i>
          </button>
        </div>
      </div>
      <div class="register__confirmPassword">
        {{ form.confirmPassword.label }}
        <div class="password-wrapper">
          {{ form.confirmPassword(class="form-control password", placeholder="Confirm password") }}
        </div>
      </div>
      <hr id="divider">
      <div class="button__wrapper">
        {{ form.submit(class="register__button") }}
        <a class="register__google" href="{{ url_for('auth.google_login') }}"><img src="{{ url_for('static',filename='media/GoogleIcon.svg') }}" id="register__google" alt="GoogleIcon">Continue with Google</a>
        <p id="register__subtitle--reminder">Already have an account? <a href="/login">Log in</a></p>
      </div>
    </form>
    
  </div>
</div>


{% endblock %}

{% block body_scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/passwordVisibility.js') }}"
></script>
{% endblock %}