{% extends "views/base.html" %}
{% set active_page = "reset_password" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/auth/login.css') }}">
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="login__wrapper">
  <div class="login__left">
    <!-- <img src="{{ url_for('static', filename='../static/media/spiral_bg.jpg') }}" alt=""> -->
  </div>
  <div class="login__right">
    <h1 id="login__header">Reset Password</h1>
    <p id="login__subtitle">Enter your new password here.</p>
    <form method="POST" class="login__form">
      {{ form.hidden_tag() }}

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
      <div class="login__password">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
      </div>
      <div class="login__password">
        {{ form.confirmPassword.label }}
        {{ form.confirmPassword(class="form-control") }}
      </div>
      {{ form.submit(class="reset__button") }}
    </form>
    
  </div>
</div>

{% endblock %}