{% extends "views/base.html" %}
{% set active_page = "setUsername" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/auth/register.css') }}">
{% endblock %}

{% block title %}Set Username{% endblock %}

{% block content %}
<div class="register__wrapper">
  <div class="register__left">
    <!-- <img src="{{ url_for('static', filename='../static/media/spiral_bg.jpg') }}" alt=""> -->
  </div>

  
  <div class="register__right">
    <h1 id="register__header">Register</h1>
    <p id="register__subtitle">Set your username!</p>
    <form method="POST" class="register__form">
      {{ form.hidden_tag() }}

      <!-- Flash validation -->
      {% include "components/flashValidation.html" %}

      <div class="register__username">
        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="") }}
      </div>
      {{ form.submit(class="username__button") }}
    </form>
    
  </div>
</div>

{% endblock %}