{% extends "views/base.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/chatbot.css') }}">
{% endblock %}

{% block content %}
<div class="paddedContent">
  <h1>Home</h1>

  <!-- Just a test... -->
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>
  <p>Hi</p>

  <!-- Chatbot -->
  <div class="chatbot__wrapper">
    <button class="chatbot-toggler">
      <span><i class="fa-solid fa-message"></i></span>
      <span class="close-btn"><i class="fa-solid fa-xmark fa-lg"></i></span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span><i class="fa-solid fa-xmark fa-lg"></i></span>  
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span><i class="fa-solid fa-robot"></i></span>
          <p>Hi there 👋 <br> How can I help you today?</p>
        </li>
        <!-- <li class="chat outgoing">
           <p>Lorem ipsum</p> 
        </li> -->
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." required></textarea>
        <span id="send-btn"><i class="fa-solid fa-comment"></i></span>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/chatbot.js') }}"
></script>

{% endblock %}