{% extends "views/base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pageInteractions/filters.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/views/productPage.css') }}">
{% endblock %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<input type="hidden" id="get-id-here" product-id="{{ product.id }}">
<div class="product">
  <div class="product__left">
    <div class="image__container">
      <img src="{{ url_for('static', filename='media/uploads/' + product.image_thumbnail) }}" alt="{{ product.name }}"/>
    </div>
    <div class="image-list">
      {% for image in product.images %}
      <div class="image__container">
        <img src="{{ url_for('static', filename='media/uploads/' + image) }}" alt="{{ product.name }}">
      </div>
      {% endfor %}
    </div>
    <div class="variants"></div> <!-- not sure yet -->
  </div>
  <div class="product__right">
    <div class="top">
      <h1>{{ product.name }}</h1>
      <div class="typeCreator">
        <i class="bi bi-person-fill"></i>
        <span>{{ product.category.category_name }}</span>
        <div class="vSeparator"></div>
        <i class="bi bi-person-fill"></i>
        <span>{{ product.creator }}</span>
      </div>
      <div class="rating">
        <span class="ratingScore">{% if product.rating %}{{ product.rating }}{% endif %}</span>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <span class="numOfReviews">{% if not product.rating %}No reviews yet. Be the first one!{% else %}({{ product.reviews|length }}){% endif %}</span>
      </div>
    </div>
    <hr>
    <div class="middle">
      <h3>&dollar;{{ '{:.2f}'.format(selected_condition.price) }}</h3>
      <div class="stock">
        {% if selected_condition.stock <= 10 %}
          <i class="bi bi-exclamation-circle-fill"></i>
          <span>Only {{ selected_condition.stock }} left. Order soon!</span>
        {% else %}
          <i class="bi bi-check-circle-fill"></i>
          <span>Plenty of stock to go around!</span>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="bottom">
      <div class="condition">
        <div class="header">
          <h3>Condition</h3><i class="bi bi-question-circle-fill" title="Conditions represent the quality of the product being sold."></i>
        </div>
        <div class="conditionTypes">
          {% for type in ['Brand New', 'Like New', 'Lightly Used', 'Well Used'] %}
            <div class="{% if type in product.conditions|map(attribute='condition') %}enabled{% else %}disabled{% endif %} {% if type == selected_condition.condition %}active{% endif %}" title="{% if type not in product.conditions|map(attribute='condition') %}Stock for this has run out, sorry!{% endif %}">
              <span>{{ type }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="description">
        <div class="header"><h3>Description</h3></div>
        <span>{{ product.description }}</span>
      </div>
      <div class="miscellaneous">
        <div class="header"><h3>About this item</h3></div>
        <span>
          ID: <b>{{ product.id }}</b>
          <br>
          Type: <b>{{ product.category.category_name }}</b>
          <br>
          Author: <b>{{ product.creator }}</b>
          <br>
          Date of Publication: <b>dummy</b>
        </span>
      </div>
      <hr>
      <form action="{{ url_for('addToCart.add_to_cart', product_id=product.id) }}" method="POST" class="cta-form">
          {{ cartform.hidden_tag() }}
          {{ cartform.condition(value=selected_condition.condition) }}
          <button type="submit" class="filter">Add to Cart</button>
      </form>
      <form action="/check-out/{{ product.id }}" method="POST" class="cta-form">
          <!-- {{ cartform.hidden_tag() }} please remember to add something like this, cartform can be any unique form class defined
            in forms.py -->
          <button type="submit" class="filter">Buy Now</button>
      </form>
      <!-- <hr> -->
      <!-- <a href="/dashboard/manage-products" class="cta wishlist">
        <div>
          <span>Wishlist</span>
        </div>
      </a> -->
      <!-- removed wishlist, don't think there's much i can do with it for now. -->
    </div>
  </div>
</div>
<hr class="docSeparator">
<div class="review__section">
  <div class="header">
    <div class="header__left">
      <div class="rating">
        <h1>Customer Reviews</h1>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <span class="ratingScore" id="rating-score" get-rating-here="{{ product.rating }}">{% if product.rating %}{{ product.rating }}{% else %}No reviews yet. Be the first one!{% endif %}</span>
      </div>
    </div>
    <div class="header__right">
      {% if user.role_id %}
      <div class="write"><span>Write a review</span>&nbsp;&nbsp;<i class="bi bi-pencil-square"></i></div>
      {% endif %}
      {% if reviews.items and product.reviews  %}
      <div class="filters">
        <div class="filter-container">
          <div class="filter {% if rating_filter %}activated{% endif %}" filter-for="rating" id="filter">
            <span class="selected {% if not rating_filter %}highlighted{% endif %}">{% if rating_filter %}{{ rating_filter|title }}{% else %}All{% endif %}</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
            <ul class="filter--options">
              <li class="highlighted">All</li>
              {% for tag in ['Highest first', 'Lowest first', '1 star', '2 star', '3 star', '4 star', '5 star'] %}
              <li class="{% if tag == rating_filter %}highlighted{% endif %}">{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="body">
    <div class="reviews">
      {% if reviews.items and product.reviews %}
      {% for review in reviews %}
      <div class="review">
        <div class="left">
          <img src="{{ url_for('static',filename='profile_pics/' + review.user.image) }}">
        </div>
        <div class="right">
          <div class="section">
            <p class="name">{{ review.user.username if review.show_username else "Annonymous" }}</p>
            <div class="rating">
              {% for x in range(review.rating|int) %}
              <i class="bi bi-star-fill" style="color: orange"></i>
              {% endfor %}
              {% for x in range(5-review.rating|int) %}
              <i class="bi bi-star-fill" style="color: #d9d9d9"></i>
              {% endfor %}
              <input type="hidden" value="{{ review.rating }}">
            </div>
          </div>
          <p class="date"><i class="bi bi-calendar-plus-fill"></i>&nbsp;&nbsp;Reviewed on {{ review.created_at.strftime('%Y-%m-%d') }}</p>
          <p class="description">{{ review.description }}</p>
        </div>
        {% if user.username == review.user.username or user.role_id in [2, 3] %}
        <div class="mods">
          <div class="mod-container update">
            <form action="{{ url_for('productPagination.update_review', product_id=product.id, review_id=review.id) }}">
              <button type="submit">Update Review</button>
            </form>
          </div>
          <div class="mod-container delete">
            <form action="{{ url_for('productPagination.delete_review', product_id=product.id, review_id=review.id) }}">
              <button type="submit">Delete Review</button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% elif product.reviews|length != 0 %}
      <div class="review">
        <h3>Sorry, no reviews were found with the given filter.</h3>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
<div class="overlay" style="display: {{ 'block' if messages or review else 'none' }};"></div>
<div class="review__modal" style="display: {{ 'block' if messages or review else 'none' }};">
  
  {% if messages and messages[0][0] == 'success' %}
  <div class="success">
    <i class="bi bi-x-lg fa-2xl"></i>
    <i class="bi bi-check-circle fa-2xl"></i>
    <h2>{{ messages[0][1] }}</h2>
    <div class="button-wrapper">
      <input id="cancel" name="cancel" type="button" value="Exit">
    </div>
  </div>

  {% elif delete %}
  <div class="delete">
    <i class="bi bi-x-lg fa-2xl"></i>
    <i class="bi bi-exclamation-circle"></i>
    <div class="header ignore">
      <h2>You are about to delete the following review.</h2>
      <span>This action <strong>cannot be undone</strong> when performed.</span>
    </div>
    <div class="review ignore">
      <div class="left">
        <img src="{{ url_for('static',filename='profile_pics/' + review.user.image) }}">
      </div>
      <div class="right">
        <div class="section">
          <p class="name">{{ review.user.username if review.show_username else "Annonymous" }}</p>
          <div class="rating">
            {% for x in range(review.rating|int) %}
            <i class="bi bi-star-fill" style="color: orange"></i>
            {% endfor %}
            {% for x in range(5-review.rating|int) %}
            <i class="bi bi-star-fill" style="color: #d9d9d9"></i>
            {% endfor %}
            <input type="hidden" value="{{ review.rating }}">
          </div>
        </div>
        <p class="date"><i class="bi bi-calendar-plus-fill"></i>&nbsp;&nbsp;Reviewed on {{ review.created_at.strftime('%Y-%m-%d') }}</p>
        <p class="description">{{ review.description }}</p>
      </div>
    </div>
    <form action="{{ url_for('productPagination.delete_review', product_id=product.id, review_id=review.id) }}" method="POST">
      {{ deleteform.hidden_tag() }}
      <div class="confirmation">
        {{ deleteform.deleteConfirm.label }}
        {{ deleteform.deleteConfirm(class="form-control", placeholder="CONFIRMDELETE") }}
        {% if messages %}
        <div class="alert alert-danger">
          {% for category, message in messages %}
            {% if category == 'error' %}
            <span>{{ message | safe }}</span>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="buttons">
        <div class="button-wrapper">
          <input id="cancel" name="cancel" type="button" value="Cancel">
        </div>
        <div class="button-wrapper">
          {{ deleteform.submit() }}
        </div>
      </div>
    </form>
  </div>

  {% else %}
  <form method="POST" action="{{ url_for('productPagination.add_review', product_id=product.id) }}" id="add-review">
    {{ reviewform.hidden_tag() }}
    <div class="addReview">
      <div class="header">
        <h1>{% block form_title %}Add a review for {{ product.name }}{% endblock %}</h1>
        <i class="bi bi-x-lg fa-2xl"></i>
      </div>
      {% if messages %}
      <div class="alert alert-danger">
        {% for category, message in messages %}
          {% if category == 'error' %}
          <span>{{ message | safe }}</span>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="rating">
        {{ reviewform.rating.label }}
        {{ reviewform.rating() }}
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <div class="username">
        {{ reviewform.show_username.label }}
        {{ reviewform.show_username() }}
      </div>
      <div class="description">
        {{ reviewform.description(class="form-control", placeholder="Write your thoughts!", rows=10) }}
      </div>
      <div class="buttons">
        <div class="button-wrapper">
          <input id="cancel" name="cancel" type="button" value="Cancel">
        </div>
        <div class="button-wrapper">
          <input id="submit" name="submit" type="submit" value="{% block submit_value %}Post Review{% endblock %}">
        </div>
      </div>
    </div>
  </form>
  {% endif %}
</div>
{% endwith %}


<a href="{{ url_for('productPagination.product_pagination') }}" class="btn btn-secondary">Back to Products</a>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/persistentScrollPosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/productPagination/productPage.js') }}"></script>
{% if user.role_id %}
<script type="text/javascript" src="{{ url_for('static', filename='js/productPagination/addReview.js') }}"></script>
{% endif %}
{% endblock %}