{% extends "views/base.html" %}
{% set active_page = "products" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/multiFilter.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/views/productPagination.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/filters.css') }}">
{% endblock %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="header">
  <p><a href="{{ url_for('views.home') }}">Home</a> &gt; Products</p>
</div>
<div class="listing__header top">
  <!-- Preserve current filter values -->
  {% if category_filter %}
  <input type="hidden" name="category" value="{{ category_filter }}">
  {% endif %}
  {% if subcategory_filter %}
  <input type="hidden" name="subcategory" value="{{ subcategory_filter }}">
  {% endif %}
  {% if status_filter %}
  <input type="hidden" name="status" value="{{ status_filter }}">
  {% endif %}
  <div class="header__left">
      <h1>{% block h1 %}Products{% endblock %}</h1>
      {% if products.items %}
      <p>Showing <span class="productPerPage">{{ 16 * current_page - 15 }}</span> &minus; <span class="productPerPage">{{ 16 * current_page if 16 * current_page < total_products else total_products  }}</span> of {{ total_products }} results</p>
      {% endif %}
  </div>
</div>
<div class="listing__header bottom">
  <div class="header__left">
    <form id="filterForm" method="get" action="{{ url_for('productPagination.product_pagination') }}" class="filters__form">
      <!-- Preserve search query if exists -->
      {% if search_query %}
      <input type="hidden" name="q" value="{{ search_query }}">
      {% endif %}
      
      <div class="filter__group">
          <label for="type">Type</label>
          <select name="type" id="type" class="filter__select">
              <option value="">All</option>
              {% for value, label in category_choices %}
              <option value="{{ value }}" {% if category_filter == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
      </div>
    
      <div class="filter__group">
        <label for="genre">Genre</label>
        <select name="genre[]" id="genre" class="filter__select" multiple>
            <option value="or{% if 'or' in match_req %}@{% endif %}" {% if 'or' in match_req %}selected 1{% endif %}>Match Any</option>
            {% if subcategory_filter %}
            <option value="and{% if 'and' in match_req %}@{% endif %}" {% if 'and' in match_req %}selected 1{% endif %}>Match All</option>
            {% endif %}
            {% for value, label in subcategory_choices %}
            <option value="{{ value }}" {% if value in subcategory_filter %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
      </div>
    
      <div class="filter__group">
          <label for="price">Price</label>
          <select name="price" id="price" class="filter__select">
              <option value="">All</option>
              {% for value, label in price_choices %}
              <option value="{{ value }}" {% if price_filter == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
      </div>
    
      <div class="filter__group">
          <label for="rating">Rating</label>
          <select name="rating" id="rating" class="filter__select">
              <option value="">All</option>
              {% for value, label in rating_choices %}
              <option value="{{ value }}" {% if rating_filter == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
      </div>
      {% if category_filter or subcategory_filter or price_filter or rating_filter %}
      <div class="filter__group">
      <a href="{{ url_for('productPagination.product_pagination', q=search_query) }}" class="clear__filters">Clear Filters</a>
      {% endif %}
      </div>
    </form>
  </div>
  <div class="header__right">
    <div class="view-toggle">
      <button id="gridViewButton" class="active" title="Grid View">
        <i class="bi bi-grid-fill"></i>
      </button>
      <button id="listViewButton" title="List View">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
</div>

{% if products.items %}
<div class="products">
  {% for product in products %}
  <div class="product">
    <a href="{{ url_for('productPagination.product_detail', product_id = product.id) }}">
      <div class="thumbnail">
        <div class="rating">
          {% if product.reviews %}
            {% set rating = product.rating %}
          {% else %}
            {% set rating = "No rating yet" %}
          {% endif %}
          <span><i class="bi bi-star-fill"></i>&nbsp;{{ rating }}</span>
        </div>
        <div class="image">
          <!-- <img src="{{ url_for('static', filename='media/uploads/' + product.image_thumbnail) }}" alt="{{ product.name }}"/> -->
          <img src="https://res.cloudinary.com/dyduc8kjz/image/upload/v1738220526/{{ product.image_thumbnail }}" alt="{{ product.name }}"/>
        </div>
        {% if current_user.role_id == 1 %}
        <div class="favourites" title="{% if current_user.wishlisted_items and product.id in current_user.wishlisted_items %}Remove from Favourites{% else %}Add to Favourites{% endif %}">
          <form action="{{ url_for('wishlist.remove_favourite', product_id=product.id) if current_user.wishlisted_items and product.id in current_user.wishlisted_items else url_for('wishlist.add_favourite', product_id=product.id) }}" method="POST" class="cta-form">
            {{ form.hidden_tag() }}
            {{ form.condition() }}
            <button type="submit">
              <div class="heart-container">
                <i class="bi bi-heart fa-xl"></i>
                <i class="bi bi-heart-fill fa-xl {% if current_user.wishlisted_items and product.id in current_user.wishlisted_items %}fav{% endif %}"></i>
              </div>
            </button>
          </form>
        </div>
        {% endif %}
        <div class="cart" title="Add Product to Cart">
          <form action="{{ url_for('addToCart.add_to_cart', product_id=product.id) }}" method="POST" class="cta-form">
            {{ form.hidden_tag() }}
            {{ form.condition() }}
            <button type="submit"><i class="fa-solid fa-cart-shopping fa-xl"></i></button>
          </form>
        </div>
      </div>
    </a>
    <div class="misc">
      <div class="info">
        <div class="info_left">
          <h5 class="name">{{ product.name }}</h5>
          <span>{{ product.creator }}</span>
          <div class="rating">
            {% if product.reviews %}
              {% if product.reviews|length > 1 %}
              {% set count = ' reviewers' %}
              {% else %}
              {% set count = ' reviewer' %}
              {% endif %}
              {% set rating = product.rating ~ ' as rated by ' ~ product.reviews|length ~ count %}
            {% else %}
              {% set rating = "No rating yet" %}
            {% endif %}
            <span><i class="bi bi-star-fill"></i>&nbsp;{{ rating }}</span>
          </div>
        </div>
        <div class="info_right">
          <h5>&dollar;{{ '{:.2f}'.format(product.conditions[0].price) }}</h5>
          <span><i class="bi bi-short-fill"></i>&nbsp;{{ product.category.category_name }}</span>
        </div>
      </div>
      <div class="cta">
        <form action="{{ url_for('addToCart.add_to_cart', product_id=product.id) }}" method="POST" class="cta-form">
          {{ form.hidden_tag() }}
          {{ form.condition(value=product.conditions[0]) }}
          <button type="submit" class="filter">Add to Cart</button>
        </form>
        <form action="{{ url_for('payment.create_temp_cart', product_id=product.id) }}" method="POST" class="cta-form">
            <input type="hidden" name="condition" value="{{ product.conditions[0]['condition'] }}">
            <button type="submit" class="filter">Buy Now</button>
        </form>
      </div>
    </div>
  </div>
  <div class="description">
    <p style="text-wrap: wrap;">{{ product.description }}</p>
  </div>
  <hr class="description">
  {% endfor %}
</div>
<div class="products__pagination">
  <ul>
      {% if current_page > 1 %}
          <li class="pagePrevious__button">
            <a href="{{ url_for('productPagination.product_pagination', page=current_page-1, q=search_query if search_query else None, category=category_filter if category_filter else None, subcategory=subcategory_filter if subcategory_filter else None, price=price_filter if price_filter else None, rating=rating_filter if rating_filter else None) }}">
            Previous
            </a>
          </li>
      {% endif %}
      {% for p in range(1, total_pages + 1) %}
          <li class="{% if p == current_page %}active{% endif %}">
            <a class="page__button" href="{{ url_for('productPagination.product_pagination', page=p, q=search_query if search_query else None, category=category_filter if category_filter else None, subcategory=subcategory_filter if subcategory_filter else None, price=price_filter if price_filter else None, rating=rating_filter if rating_filter else None) }}">
            {{ p }}
            </a>
          </li>
      {% endfor %}
      {% if current_page < total_pages %}
          <li class="pageNext__button">
            <a href="{{ url_for('productPagination.product_pagination', page=current_page+1, q=search_query if search_query else None, category=category_filter if category_filter else None, subcategory=subcategory_filter if subcategory_filter else None, price=price_filter if price_filter else None, rating=rating_filter if rating_filter else None) }}">
            Next
            </a>
          </li>
      {% endif %}
  </ul>
</div>
{% else %}
<div class="centralise">
  <img src="{{ url_for('static', filename='media/filters_not_found.png') }}" class="none">
  <h2 class="none">Sorry, no products were found with the given search queries and/or filters.</h2>
  <a href="./" class="none">Try Again</a>
</div>
{% endif %}
<hr class="last separator">
<div class="newsletter featured">
  <h1>Stay Updated</h1>
  <div class="newsletter__content">
    <p>Subscribe to our newsletter and be the first to know about new arrivals, special offers, and exclusive deals!</p>
    <form id="newsletter__form" method="POST" action="{{ url_for('views.home') }}" class="newsletter__form">
      {{ mailing_list_form.hidden_tag() }}
      <div class="form-group">
        {{ mailing_list_form.email(id="newsletter__email", class="form-control", placeholder="Enter your email") }}
        {{ mailing_list_form.submit(id="newsletter__submit") }}
      </div>
      <div id="newsletter__message" class="message"></div>
    </form>
  </div>
</div>
<div class="overlay" id="overlay" style="display: none;"></div>
<div class="modal" id="modal" style="display: none;">
    <div class="success">
      <i class="bi bi-x-lg fa-2xl"></i>
      <h1>Upload an Image to<br>Find a Matching Product</h1>
      <form action="{{ url_for('productPagination.upload_image') }}" method="POST" enctype="multipart/form-data" id="upload-form">
        <div class="upload-container">
          <!-- Drag and Drop Area -->
          <div class="drag-drop-area" id="drag-drop-area">
            <p>Drag & Drop an image here</p>
            <p>or</p>
            <label for="file-input" class="file-input-label">Browse</label>
            <input type="file" id="file-input" name="file" accept="image/*" required style="display: none;">
          </div>
      
          <!-- Image Preview -->
          <div class="image-preview" id="image-preview">
            <img id="preview-image" src="#" alt="Preview" style="display: none;">
            <p id="preview-text">No image selected</p>
          </div>
        </div>
      
        <!-- Buttons -->
        <div class="buttons">
          <div class="button-wrapper">
            <input id="cancel" name="cancel" type="button" value="Exit">
          </div>
          <div class="button-wrapper">
            <button type="submit">Search</button>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}


{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboardFilters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/multiFilter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/productPagination/productPagination.js') }}"></script>
{% endblock %}