{% extends "views/base.html" %}

{% block title %}
    Trade-in
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tradein/tradeform.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Image Upload</h1>
    <div class="image-upload">
        <label for="file-input" class="upload-button">
            Select from Files
        </label>
        <input id="file-input" type="file" name="images" multiple style="display: none;">
        <p>(or drag and drop your images here)</p>
    </div>
    <div id="preview-container" class="preview-container"></div>

    <h1>Item Information</h1>

    <form action="/submit-trade" method="POST">
        <div class="form-row">
            <div class="form-group">
                <label for="item-type">Item Type</label>
                <select id="item-type" name="item-type">
                    <option value="book">Book</option>
                    <option value="vinyl">Vinyl</option>
                </select>
            </div>
            <div class="form-group">
                <label for="item-condition">Item Condition</label>
                <select id="item-condition" name="item-condition">
                    <option value="brandNew">Brand New</option>
                    <option value="likeNew">Like New</option>
                    <option value="lightlyUsed">Lightly Used</option>
                    <option value="used">Used</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="Enter title">
        </div>

        <div class="form-group">
            <label for="author">Author / Artist</label>
            <input type="text" id="author" name="author" placeholder="Enter author or artist">
        </div>

        <div class="form-group">
            <label for="genre">Genre</label>
            <input type="text" id="genre" name="genre" placeholder="Enter genre">
        </div>

        <div class="form-group">
            <label for="isbn">ISBN / Cat#</label>
            <input type="text" id="isbn" name="isbn" placeholder="Enter ISBN or catalog number">
        </div>

        <div class="button-group">
            <button type="button" class="btnB">Back</button>
            <button type="submit" class="btnS">Submit</button>
        </div>
    </form>

    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/tradein/tradeForm.js') }}"></script>
{% endblock %}

