<h2>Your Trade-ins</h2>
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tradein/custdashboardTrade.css') }}">
{% endblock %}


{% if trade_items %}
    <table>
        <thead>
            <tr>
                <th>Item Type</th>
                <th>Condition</th>
                <th>Title</th>
                <th>Author/Artist</th>
                <th>Genre</th>
                <th>ISBN / Cat No.</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            {% for item in trade_items %}
                <tr>
                    <td>{{ item.item_type }}</td>
                    <td>{{ item.item_condition }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.author_artist }}</td>
                    <td>{{ item.genre }}</td>
                    <td>{{ item.isbn_or_cat }}</td>
                    <td>
                        {% set images = item.images | fromjson %}
                        {% for image in images %}
                            <img src="{{ url_for('static', filename=image.split('static/')[-1]) }}" alt="Trade Image" width="100">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No trade-ins found.</p>
{% endif %}
