{% extends "dashboard/base.html" %}
{% set active_page = "manage_orders" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/filters.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/manageOrders/orderDetail.css') }}">
{% endblock %}
{% block title %}Order Details{% endblock %}

{% block headerContent %}
<div class="orders__header">
    <h1 id="orders__title">{% block h1 %}View Order #{{ order.id }} Details{% endblock %}</h1>
    <a href="{{ url_for('manageOrders.orders_listing') }}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;<span>Go Back</span></a>
</div>
{% endblock %}

{% block content %}
<div class="header">
    <div class="header__item delivery_eta">
        <div class="left">
            <i class="bi bi-calendar-check-fill fa-2xl"></i>
        </div>
        <div class="right">
            <span>{{ 'Arriving' if order.delivery != 'self-pickup' else 'Picking Up At' }}</span>
            {% if order.delivery != 'self-pickup' %}
            <p><strong>
                {% if order.approval_date %}
                {{ (order.approval_date + timedelta(days=7)).strftime('%d %B') }} 
                &minus; 
                {{ (order.approval_date + timedelta(days=10)).strftime('%d %B') }}
                {% else %}
                Pending
                {% endif %}
            </strong></p>
            {% else %}
            <p><strong>{{ order.pickup.pickup_date.strftime('%Y-%m-%d') }}</strong></p>
            {% endif %}
        </div>
    </div>
    <div class="header__item status">
        <div class="left">
            <i class="bi bi-check-lg fa-2xl"></i>
        </div>
        <div class="right">
            <span>Approval</span>
            <p><strong>{{ order.status if order.status in ['Approved', 'Pending', 'Rejected'] }}</strong></p>
        </div>
    </div>
    {% if order.delivery != 'self-pickup' %}
    <div class="header__item delivery">
        <div class="left">
            <i class="bi bi-truck fa-2xl"></i>
        </div>
        <div class="right">
            <span>Delivery</span>
            {% if order.status == 'Approved' %}
            <p><strong>Out for Delivery</strong></p>
            {% else %}
            <p><strong>{{ order.status }}</strong></p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="body">
    <div class="order_date">
        <i class="bi bi-calendar-plus-fill"></i>
        <span>Order placed on {{ order.order_date.strftime('%Y-%m-%d') }}</span>
    </div>
    <div class="order_items">
        <div class="head">
            <h2>Ordered items ({{ order_items|length }})</h2>
        </div>
        <div class="body">
            <div class="orders">
                <table>
                    <thead>
                        <tr>
                            <th class="itemName">Name</th>
                            <th class="itemType">Type</th>
                            <th class="itemCondition">Condition</th>
                            <th class="itemQuantity">Quantity</th>
                            <th class="itemPrice">Price (per unit)</th>
                            <th class="controls"></th>
                        </tr>
                    </thead>
                    {% for item in order_items %}
                    <tr item-id="{{ item.id }}">
                        <td class="orderName">
                            <div class="thumbnail">
                                <!-- <img src="{{ url_for('static', filename='media/uploads/' + item.product.image_thumbnail) }}" alt="{{ item.product.name }}"/> -->
                                <img src="https://res.cloudinary.com/dyduc8kjz/image/upload/v1738220526/{{ item.product.image_thumbnail }}" alt="{{ item.product.name }}"/>
                            </div>
                            <div class="name"><p>{{ item.product.name }}</p><p>ID: {{ item.product.id }}</p></div>
                        </td>
                        <td class="itemType">{{ item.product.category.category_name }}</td>
                        <td class="itemCondition">{{ item.product_condition['condition'] }}</td>
                        <td class="itemQuantity">{{ item.quantity }}</td>
                        <td class="itemPrice">&dollar;{{ '{:.2f}'.format(item.unit_price) }}</td>
                        <td class="controls">
                            <div>
                                <a href="{{ url_for('productPagination.product_detail', product_id=item.product_id) }}"><i class="fa-solid fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="bottom">
        {% if user.role_id in [2,3] %}
        <div class="misc_top">
            <div class="user_info">
                <div class="header">
                    <h2>User Information</h2>
                </div>
                <div class="body">
                    <div class="id">
                        <h4><strong>Customer ID</strong></h4>
                        <p>{{ order.user_id }}</p>
                    </div>
                    <div class="role">
                        <h4><strong>Role</strong></h4>
                        <p>{{ order.user.role.role_name }}</p>
                    </div>
                    <div class="username">
                        <h4><strong>Username</strong></h4>
                        <p>{{ order.user.username }}</p>
                    </div>
                    <div class="email">
                        <h4><strong>Email Address</strong></h4>
                        <p>{{ order.user.email }}</p>
                    </div>
                    <div class="payment">
                        <h4><strong>Payment Method</strong></h4>
                        <p>{{ order.payment_type.payment_type }}</p>
                    </div>
                </div>
            </div>
            <div class="billing_payment">
                <div class="header">
                    <h2>{% if order.delivery != 'self-pickup' %}Billing &amp; Payment Information{% else %}Pick-Up &amp; Payment Information{% endif %}</h2>
                </div>
                <div class="body">
                    {% if order.delivery != 'self-pickup' %}
                    <div class="name">
                        <h4><strong>Name</strong></h4>
                        <p>{{ order.user.first_name + ' ' + order.user.last_name }}</p>
                    </div>
                    <div class="address one">
                        <h4><strong>Address 1</strong></h4>
                        <p>{{ order.billing.address_one }}</p>
                    </div>
                    {% if order.billing.address_two %}
                    <div class="address two">
                        <h4><strong>Address 2</strong></h4>
                        <p>{{ order.billing.address_two }}</p>
                    </div>
                    {% endif %}
                    <div class="phone_number">
                        <h4><strong>Phone Number</strong></h4>
                        <p>{{ order.billing.phone_number }}</p>
                    </div>
                    {% else %}
                    <div class="location">
                        <h4><strong>Location</strong></h4>
                        <p>Nanyang Polytechnic</p>
                    </div>
                    <div class="date">
                        <h4><strong>Pick-Up Date</strong></h4>
                        <p>{{ order.pickup.pickup_date.strftime('%Y-%m-%d') }}</p>
                    </div>
                    {% endif %}
                    <div class="payment">
                        <h4><strong>Payment Method</strong></h4>
                        <p>{{ order.payment_type.payment_type }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="misc_bot">
            <div class="order_summary">
                <div class="header">
                    <h2>Order Summary</h2>
                </div>
                <div class="body">
                    <table>
                        <tr class="subtotal">
                            <td>Subtotal</td>
                            <td>{{ order_items|length }} unique items</td>
                            <td>${{ order.total_amount }}</td>
                        </tr>
                        {% if order.voucher_id and order.voucher.voucherType_id != 3 %}
                        {% if order.voucher.voucherType_id == 2 %}
                        <tr class="voucher">
                            <td>Voucher Discount</td>
                            <td>{{ order.voucher.voucher_code }}</td>
                            {% set disc = order.total_amount|float * order.voucher.discount_value/100 %}
                            <td>{{ '{:.2f}'.format(disc) }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Voucher Discount</td>
                            <td>{{ order.voucher.voucher_code }}</td>
                            {% set disc = order.total_amount|float * order.voucher.discount_value/100 %}
                            <td>&minus; &dollar;{{ '{:.2f}'.format(disc) }}</td>
                        </tr>
                        {% endif %}
                        {% endif %}
                        <!-- <tr class="discount"></tr> -->
                        {% if order.delivery != 'self-pickup' %}
                        {% set ship_tot = 0 %}
                        <tr class="shipping">
                            <td>Shipping</td>
                            {% if order.delivery == 'international' %}
                            <td>International Shipping</td>
                            <td>$30.00</td>
                            {% set ship_tot = 30 %}
                            {% elif order.delivery == 'standard' %}
                            <td>Standard Local Shipping</td>
                            <td>$4.00</td>
                            {% set ship_tot = 4 %}
                            {% elif order.delivery == 'expedited' %}
                            <td>Expedited Local Shipping</td>
                            <td>&dollar;10.00</td>
                            {% set ship_tot = 10 %}
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% if order.voucher_id and order.voucher.voucherType_id == 3 %}
                        <tr class="voucher">
                            <td>Voucher Discount</td>
                            <td>{{ order.voucher.voucher_code }}</td>
                            {% set ship_tot = 0 %}
                            {% if order.delivery == 'international' %}
                            <td>&minus; &dollar;30.00</td>
                            {% elif order.delivery == 'standard' %}
                            <td>&minus; &dollar;4.00</td>
                            {% else %}
                            <td>&minus; &dollar;10.00</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        <tr class="total">
                            <td><h3>Total</h3></td>
                            <td></td>
                            <td><h3>&dollar;{{ '{:.2f}'.format(order.total_amount|float + (ship_tot if ship_tot else 0) - (disc if disc else 0)) }}</h3></td>
                        </tr>
                    </table>
                    <div class="total">
                    </div>
                </div>
            </div>
            <div class="order_admin">
                <div class="delivery_type">
                    <div class="header">
                        <h2>Delivery Type</h2>
                    </div>
                    <div class="body">
                        <h2><i class="bi bi-truck fa-2xl"></i></h2>
                        <h3>{{ order.delivery|title }}</h3>
                    </div>
                </div>
                <div class="order_approval">
                    <div class="header">
                        <h2>{{ form.approved.label }}</h2>
                    </div>
                    <div class="body">
                        <form method="POST" action="{{ url_for('manageOrders.update_order', order_id=order.id) }}">
                            {{ form.hidden_tag() }}
                            <div class="approval">
                                {% for subfield in form.approved %}
                                <p>{{ subfield }} {{ subfield.label }}</p>
                                {% endfor %}
                            </div>
                            <div class="button-wrapper">
                                {{ form.submit() }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="misc_top">
            <div class="billing_payment">
                
                <div class="header">
                    <h2>{% if order.delivery != 'self-pickup' %}Billing &amp; Payment Information{% else %}Pick-Up &amp; Payment Information{% endif %}</h2>
                </div>
                <div class="body">
                    {% if order.delivery != 'self-pickup' %}
                    <div class="name">
                        <h4><strong>Name</strong></h4>
                        <p>{{ order.user.first_name + ' ' + order.user.last_name }}</p>
                    </div>
                    <div class="address one">
                        <h4><strong>Address 1</strong></h4>
                        <p>{{ order.billing.address_one }}</p>
                    </div>
                    {% if order.billing.address_two %}
                    <div class="address two">
                        <h4><strong>Address 2</strong></h4>
                        <p>{{ order.billing.address_two }}</p>
                    </div>
                    {% endif %}
                    <div class="phone_number">
                        <h4><strong>Phone Number</strong></h4>
                        <p>{{ order.billing.phone_number }}</p>
                    </div>
                    {% else %}
                    <div class="location">
                        <h4><strong>Location</strong></h4>
                        <p>Nanyang Polytechnic</p>
                    </div>
                    <div class="date">
                        <h4><strong>Pick-Up Date</strong></h4>
                        <p>{{ order.pickup.pickup_date.strftime('%Y-%m-%d') }}</p>
                    </div>
                    {% endif %}
                    <div class="payment">
                        <h4><strong>Payment Method</strong></h4>
                        <p>{{ order.payment_type.payment_type }}</p>
                    </div>
                </div>
            </div>
            <div class="order_summary">
                <div class="header">
                    <h2>Order Summary</h2>
                </div>
                <div class="body">
                    <table>
                        <tr class="subtotal">
                            <td>Subtotal</td>
                            <td>{{ order_items|length }} unique items</td>
                            <td>${{ order.total_amount }}</td>
                        </tr>
                        {% if order.voucher_id and order.voucher.voucherType_id != 3 %}
                        <tr class="voucher">
                            <td>Voucher Discount</td>
                            <td>{{ order.voucher.voucher_code }}</td>
                            <td>{{ '{:.2f}'.format(order.voucher.discount_value) }}</td>
                        </tr>
                        {% endif %}
                        <!-- <tr class="discount"></tr> -->
                        {% if order.delivery != 'self-pickup' %}
                        {% set ship_tot = 0 %}
                        <tr class="shipping">
                            <td>Shipping</td>
                            {% if order.delivery == 'international' %}
                            <td>International Shipping</td>
                            <td>$30.00</td>
                            {% set ship_tot = 30 %}
                            {% elif order.delivery == 'standard' %}
                            <td>Standard Local Shipping</td>
                            <td>$4.00</td>
                            {% set ship_tot = 4 %}
                            {% elif order.delivery == 'expedited' %}
                            <td>Expedited Local Shipping</td>
                            <td>&dollar;10.00</td>
                            {% set ship_tot = 10 %}
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% if order.voucher_id and order.voucher.voucherType_id == 3 %}
                        <tr class="voucher">
                            <td>Voucher Discount</td>
                            <td>{{ order.voucher.voucher_code }}</td>
                            {% set ship_tot = 0 %}
                            {% if order.delivery == 'international' %}
                            <td>&minus; &dollar;30.00</td>
                            {% elif order.delivery == 'standard' %}
                            <td>&minus; &dollar;4.00</td>
                            {% else %}
                            <td>&minus; &dollar;10.00</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        <tr class="total">
                            <td><h3>Total</h3></td>
                            <td></td>
                            <td><h3>&dollar;{{ '{:.2f}'.format(order.total_amount + (ship_tot if ship_tot else 0)) }}</h3></td>
                        </tr>
                    </table>
                    <div class="total">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if order.approval_date %}
<div class="footer">
    <a target="_blank" href="{{ url_for('manageOrders.generate_invoice', order_id=order.id) }}" class="btn btn-primary">
        <div class="button-wrapper">
            <span>Download Invoice</span>
        </div>
    </a>
</div>
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="overlay" style="display: block;"></div>
    <div class="modal" style="display: flex;">
        {% for category, message in messages %}
        <div class="success">
            <i class="bi bi-x-lg fa-2xl"></i>
            <i class="bi bi-check-circle fa-2xl"></i>
            <h2>{{ message }}</h2>
            <div class="button-wrapper">
                <input id="cancel" name="cancel" type="button" value="Exit">
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard/manageOrders/ordersListing.js') }}"></script>
{% endblock %}