{% extends "dashboard/base.html" %}
{% set active_page = "overview" %}
{% block title %}Overview{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/overview.css') }}">
{% endblock %}

{% block headerContent %}
<div class="overview__header">
  <div class="greeting__message">
    <img src="{{ image_file }}" id="mini_profile_image" alt="Mini profile image">
    <p>Welcome, {{ current_user.username }}!</p>
  </div>
  <div class="overview__statistics--header">
    <div class="statistic__box--header">
      <div class="overview__statistic--header">
        <p class="statistic__label--header">{{ headerLabel1 }}</p>
        <span class="statistic__headerValue1">{{ headerValue1 }}</span>
      </div>
    </div>
    <div class="statistic__box--header">
      <div class="overview__statistic--header">
        <p class="statistic__label--header">{{ headerLabel2 }}</p>
        <span class="statistic__headerValue2">{{ headerValue2 }}</span>
      </div>
    </div>
    <div class="statistic__box--header">
      <div class="overview__statistic--header">
        <p class="statistic__label--header">{{ headerLabel3 }}</p>
        <span class="statistic__headerValue3">{{ headerValue3 }}</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="statistics__wrapper">
  <div class="statistics__top">
    {% if current_user.role_id == 1 %}
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label">Trade-in Frequency</div>
        <canvas id="tradeFrequencyChart"></canvas>
      </div>
    </div>
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label">Buying Trend</div>
        <canvas id="buyingTrendChart"></canvas>
      </div>
    </div>
    {% elif current_user.role_id in [2, 3] %}
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label">Sales by Category</div>
        <canvas id="categorySalesChart"></canvas>
      </div>
    </div>
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label">Product Sales Over Time</div>
        <canvas id="productSalesChart"></canvas>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="statistics__bottom">
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label"></div>
        <!-- Chart canvas -->
      </div>
    </div>
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label"></div>
        <!-- Chart canvas -->
      </div>
    </div>
    <div class="statistic__box">
      <div class="overview__statistic">
        <div class="statistic__label"></div>
        <!-- Chart canvas -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard/overviewChart.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.initDashboardCharts({{ current_user.role_id }});
  });
</script>
{% endblock %}