{% extends "dashboard/base.html" %}
{% set active_page = "overview" %}
{% block title %}Overview{% endblock %}


{% block content %}
<!-- Need to add logic here, to check if the user is customer, admin or owner -->

{% block userOverview %}
<!-- Probably have to do a include block. -->
{% if user.role_id == 1 %}
{% include "dashboard/customer_overview.html" %}
{% elif user.role_id in [2, 3] %}
{% include "dashboard/admin_overview.html" %}
{% endif %}

{% endblock %}

<!-- method of checking here -->
<!-- {{ user.role_id }} -->
<h1>Dashboard overview</h1>

{% endblock %}