{% extends "views/base.html" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pageInteractions/filters.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/productPagination/productPage.css') }}">
{% endblock %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product">
  <div class="product__left">
    <div class="image__container">
      <img src="{{ url_for('static', filename=product.image_thumbnail) }}" alt="{{ product.name }}"/>
    </div>
    <div class="variants"></div> <!-- not sure yet -->
  </div>
  <div class="product__right">
    <div class="top">
      <h1>{{ product.name }}</h1>
      <div class="typeCreator">
        <i class="bi bi-person-fill"></i>
        <span>{{ product.category.category_name }}</span>
        <div class="vSeparator"></div>
        <i class="bi bi-person-fill"></i>
        <span>{{ product.creator }}</span>
      </div>
      <div class="rating">
        <span class="ratingScore"></span>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <span class="numOfReview"></span>
      </div>
    </div>
    <hr>
    <div class="middle">
      <h3>&dollar;{{ '{:.2f}'.format(product.variants[0].price) }}</h3>
      <div class="stock">
        {% if product.variants[0].stock <= 10 %}
          <i class="bi bi-exclamation-circle-fill"></i>
          <span>Only {{ product.variants[0].stock }} left. Order soon!</span>
        {% else %}
          <i class="bi bi-check-circle-fill"></i>
          <span>Plenty of stock to go around!</span>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="bottom">
      <div class="condition">
        <div class="header">
          <h3>Condition</h3><i class="bi bi-question-circle-fill"></i>
        </div>
        <div class="conditionTypes">
          {% for type in ['Brand New', 'Like New', 'Lightly Used', 'Well Used'] %}
            <div>
              <span>{{ type }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="description">
        <div class="header"><h3>Description</h3></div>
        <span>{{ product.description }}</span>
      </div>
      <div class="miscellaneous">
        <div class="header"><h3>About this item</h3></div>
        <span>
          ID: <b>{{ product.id }}</b>
          <br>
          Type: <b>{{ product.category.category_name }}</b>
          <br>
          Author: <b>{{ product.creator }}</b>
          <br>
          Date of Publication: <b>dummy</b>
        </span>
      </div>
    </div>
  </div>
</div>
<hr class="docSeparator">
<div class="review">
  <div class="header">
    <div class="header__left">
      <div class="rating">
        <h1>Customer Reviews</h1>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <span class="ratingScore"></span>
      </div>
    </div>
    <div class="header__right">
      <div class="write"><i class="bi bi-pencil-square"></i><span>Write a review</span></div>
      <div class="filter">
        <span class="selected">Top Reviews</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
        <ul class="filter--options">
            <li class="highlighted">Top Reviews</li>
            <li>etc</li>
            <li>etc</li>
            <li>etc</li>
        </ul>
      </div>
    </div>
  </div>

</div>
<a href="{{ url_for('productPagination.product_pagination') }}" class="btn btn-secondary">Back to Products</a>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/productPagination/productPage.js') }}"></script>
{% endblock %}