{% extends "views/base.html" %}
{% set active_page = "products" %}
{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/productPagination/productPagination.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/filters.css') }}">
{% endblock %}
{% block title %}Products{% endblock %}

{% block content %}

<div class="listing__header">
  <div class="header__left">
      <h1>Products</h1>
      <p>Showing <span class="productPerPage"></span> &minus; <span class="productPerPage"></span> of {{ total_products }} results</p>
  </div>
  <div class="header__right">
    <div class="filters">
      <div class="filter-container">
        <label>Type</label>
        <div class="filter">
          <span class="selected">All</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
          <ul class="filter--options">
            <li class="highlighted">All</li>
            <li>short</li>
            <li>mediuuum</li>
            <li>looooooooong</li>
          </ul>
        </div>
      </div>
      <div class="filter-container">
        <label>Genre</label>
        <div class="filter">
          <span class="selected">All</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
          <ul class="filter--options">
            <li class="highlighted">All</li>
            <li>short</li>
            <li>mediuuum</li>
            <li>looooooooong</li>
          </ul>
        </div>
      </div>
      <div class="filter-container">
        <label>Smt</label>
        <div class="filter">
          <span class="selected">All</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
          <ul class="filter--options">
            <li class="highlighted">All</li>
            <li>short</li>
            <li>mediuuum</li>
            <li>looooooooong</li>
          </ul>
        </div>
      </div>
      <div class="filter-container">
        <label>Rating</label>
        <div class="filter">
          <span class="selected">All</span>&nbsp;&nbsp;<i class="bi bi-chevron-down"></i>
          <ul class="filter--options">
            <li class="highlighted">All</li>
            <li>short</li>
            <li>mediuuum</li>
            <li>looooooooong</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products">
  {% for product in products %}
  <div class="product">
    <a href="product/{{ product.id }}">
      <div class="thumbnail">
        <div class="rating">
          {% if product.rating %} <!-- product.rating has not been set yet, please do so later -->
            {% set rating = product.rating %}
          {% else %}
            {% set rating = "No rating yet" %}
          {% endif %}
          <span><i class="bi bi-star-fill"></i>&nbsp;{{ rating }}</span>
        </div>
        <div class="image">
          <img src="{{ url_for('static', filename=product.image_thumbnail) }}" alt="{{ product.name }}"/>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </div>
      </div>
    </a>
    <div class="info">
      <div class="info_left">
        <h5>{{ product.name }}</h5>
        <span>{{ product.creator }}</span>
      </div>
      <div class="info_right">
        <h5>&dollar;{{ '{:.2f}'.format(product.variants[0].price) }}</h5>
        <span><i class="bi bi-short-fill"></i>&nbsp;{{ product.category.category_name }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="products__pagination">
  <ul>
      {% if current_page > 1 %}
          <li class="pagePrevious__button"><a href="{{ url_for('productPagination.product_pagination', page=current_page-1, q=search_query) }}">Previous</a></li>
      {% endif %}
      {% for p in range(1, total_pages + 1) %}
          <li class="{% if p == current_page %}active{% endif %}">
              <a href="{{ url_for('productPagination.product_pagination', page=p, q=search_query) }}" class="page__button">{{ p }}</a>
          </li>
      {% endfor %}
      {% if current_page < total_pages %}
          <li class="pageNext__button"><a href="{{ url_for('productPagination.product_pagination', page=current_page+1, q=search_query) }}">Next</a></li>
      {% endif %}
  </ul>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/filters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/productPagination/productPagination.js') }}"></script>
{% endblock %}