.nocontent {
  height: 46vh;
  text-align: center;
  padding: 20vh 0;
}

#pageNotFound__title {
  font-family: 'CharisSILRegular';
  font-size: 2em;
}

#pageNotFound__subtitle {
  color: #000;
  font-size: 0.95em;
}

#pageNotFound__button {
  border: none;
  background-color: #FFCD29;
  color: #039572;
  padding: 10px 30px;
  border-radius: 4px;
}