/* Import fonts */
@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "CharisSILRegular";
  src: url(../fonts/CharisSIL-Regular.ttf)
}

@font-face {
  font-family: "CharisSILBold";
  src: url(../fonts/CharisSIL-Bold.ttf)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: "OpenSansRegular";
  /* margin-top: 75px; */
}

.paddedContent {
  margin-top: 80px;
}

textarea:focus, input:focus{
  outline: none;
}

.back__button {
  font-family: "OpenSansSemibold";
  text-decoration: none;
  background-color: #eee;
  padding: 10px 20px;
  width: 85px;
  text-align: center;
  color: #000;
  border-radius: 10px;
}

.back__button--darker {
  font-family: "OpenSansSemibold";
  text-decoration: none;
  background-color: #d6d6d6;
  padding: 10px 20px;
  /* width: 85px; */
  text-align: center;
  color: #000;
  border-radius: 10px;
  border: 0;
}

.back__link {
  color: #039752;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #039752;
}

.back__link i {
  margin-right: 10px;
}