{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/updatePaymentInfo.css') }}">
{% endblock %}

{% block title %}Add Payment Method{% endblock %}

{% block content %}

<h1>Add Payment Method</h1>
<a href="{{ url_for('dashboard.update_payment_information') }}" class="back__button--darker">Back</a>

<form method="POST" class="addPayment__form">
  {{ form.hidden_tag() }}

  <!-- Flash validation -->
  {% include "components/flashValidation.html" %}
  
  <div class="addPayment__paymentType">
    {{ form.paymentType_id.label }}
    <select name="paymentType_id" class="form-control">
      <option value="">Select a Category</option>
      <option value="1">Visa</option>
      <option value="2">Mastercard</option>
      <option value="3">American Express</option>
    </select>
  </div>
  <div class="addPayment__cardName">
    {{ form.card_name.label }}
    {{ form.card_name(class="form-control") }}
  </div>
  <div class="addPayment__cardNumber">
    {{ form.card_number.label }}
    {{ form.card_number(class="form-control") }}
  </div>
  <div class="addPayment__cardExpiryDate">
    {{ form.expiry_date.label }}
    {{ form.expiry_date(class="form-control") }}
  </div>
  <div class="addPayment__cardCVV">
    {{ form.card_cvv.label }}
    {{ form.card_cvv(class="form-control") }}
  </div>
  
  <div class="button__wrapper">
    {{ form.submit(class="addPayment__button") }}
  </div>
</form>

{% endblock %}