{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/changeEmail.css') }}">
{% endblock %}

{% block title %}Change Email{% endblock %}

{% block content %}

<h1>Change Email</h1>
<a href="{{ url_for('dashboard.update_personal_information') }}" class="back__link"><i class="fa-solid fa-chevron-left fa-sm"></i>Back</a>

<form method="POST" class="changeEmail__form">
  {{ form.hidden_tag() }}

  <!-- Flash validation -->
  {% include "components/flashValidation.html" %}

  <div class="changeEmail__email">
    {{ form.email.label }}
    {{ form.email(class="form-control") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>

  <div class="button__wrapper">
    {{ form.submit(class="changeEmail__button") }}
  </div>
</form>

{% endblock %}