{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/changePassword.css') }}">
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}

<h1>Change Password</h1>
<a href="/dashboard/update-personal-information" class="back__button--darker">Back</a>

<form method="POST" class="changePassword__form">
  {{ form.hidden_tag() }}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif category == 'info' %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif category == 'success'  %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="changePassword__password">
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
  </div>
  <div class="changePassword__confirmPassword">
    {{ form.confirmPassword.label }}
    {{ form.confirmPassword(class="form-control") }}
  </div>

  <div class="button__wrapper">
    {{ form.submit(class="changePassword__button") }}
  </div>
</form>

{% endblock %}

