{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/settings.css') }}">
{% endblock %}

{% block title %}Settings{% endblock %}

{% block headerContent %}

<div class="settings__header">
  <h1 id="settings__title">User Settings</h1>
  <p id="settings__subtitles">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
{% endblock %}

{% block content %}

<div class="settings__content">
  <div class="settings__container">
    <p class="settings__title">Personal Information</p>
    <p class="settings__paragraph">Update your name, email, phone number, and other account details to help us better serve you.</p>
    <a href="{{ url_for('dashboard.update_personal_information') }}" class="settings__button">View Personal Information</a>
  </div>
  <div class="settings__container">
    <p class="settings__title">Billing Address</p>
    <p class="settings__paragraph">Add or modify the address where you receive invoices and billing-related communications.</p>
    <a href="{{ url_for('dashboard.update_billing_address') }}" class="settings__button">View Billing Addresses</a>
  </div>
  <div class="settings__container">
    <p class="settings__title">Payment Information</p>
    <p class="settings__paragraph">Securely manage your payment methods and update your credit card or bank account details.</p>
    <a href="{{ url_for('dashboard.update_payment_information') }}" class="settings__button">View Payment Information</a>
  </div>
  <div class="settings__container">
    <p class="settings__title">Notifications</p>
    <p class="settings__paragraph">Choose which emails and alerts you want to receive to stay informed about account activity and updates.</p>
    <a href="{{ url_for('dashboard.manage_notifications') }}" class="settings__button">View Notification Options</a>
  </div>
  <div class="settings__container">
    <a href="{{ url_for('auth.logout') }}" class="logout__button">Log Out</a>
  </div>
</div>

{% endblock %}