{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/settings.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/updatePersonalInfo.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/accounts/deleteModal.css') }}">
{% endblock %}

{% block title %}Update Personal Information{% endblock %}

{% block headerContent %}
<div class="headerGradient"></div>
{% endblock %}

{% block content %}

  <!-- Flash validation -->
  {% include "components/flashValidation.html" %}

  <!-- Back button -->
  <a href="{{ url_for('dashboard.user_settings') }}" class="back__link"><i class="fa-solid fa-chevron-left fa-sm"></i>Back</a>

<div class="profile__content">
  <div class="profile__left">
    <div class="profile__pictureBox">
      <img src="{{ image_file }}" id="mini_profile_image" alt="Mini profile image">
      <div class="profile__topInfo">
        <p id="profile__topName">{{ user.first_name }} {{ user.last_name }}</p>
        <span id="profile__topId">User ID: {{ user.id }}</span>
      </div>
    </div>
    <div class="profile__informationBox">
      <h3>Personal Information</h3>
      <div class="profile__info1 profile__row">
        <div class="profile__firstName">
          <p class="profile__header">First Name</p>
          <span>{{ user.first_name }}</span>
        </div>
        <div class="profile__lastName">
          <p class="profile__header">Last Name</p>
          <span>{{ user.last_name or 'N/A' }}</span>
        </div>
      </div>
      <div class="profile__info2 profile__row">
        <div class="profile__username">
          <p class="profile__header">Username</p>
          <span>{{ user.username }}</span>
        </div>
        <div class="profile__email">
          <p class="profile__header">Email Address</p>
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__right">
    <div class="profile__buttons">
      <a href="{{ url_for('dashboard.update_personal_information_form') }}" class="account__editButton">Edit</a>
      <a href="{{ url_for('dashboard.change_password') }}" class="account__editButton2">Change Password</a>
    </div>
  </div>
</div>

<div class="profile__lowerButtons">
  <a href="{{ url_for('dashboard.change_email') }}" class="account__editButton">Change Email</a>
  <form id="deleteForm-{{ user.id }}" action="{{ url_for('dashboard.delete_account', id=user.id) }}" method="POST" onsubmit="event.preventDefault(); openDeleteModal({{ user.id }})">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="button" id="account__deleteButton" onclick="openDeleteModal({{ user.id }})">Delete</button>
  </form>
</div>

<!-- <img src="{{ image_file }}" alt=""> -->

<!-- modal -->
{% include "components/deleteModal.html" %}

{% endblock %}

{% block body_scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/deleteModal.js') }}"
></script>
{% endblock %}