{% extends "dashboard/base.html" %}
{% set active_page = "settings" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/settings/updatePersonalInfo.css') }}">
{% endblock %}

{% block title %}Update Personal Information{% endblock %}

{% block content %}

<h1>Update personal information</h1>
<a href="/dashboard/update-personal-information" class="back__button--darker">Back</a>

<form method="POST" class="updateInfo__form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          {% if category == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif category == 'info' %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif category == 'success'  %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
  <div class="updateInfo__name">
    <div class="updateInfo__firstName">
      {{ form.firstName.label }}
      {{ form.firstName(class="form-control") }}
    </div>
    <div class="updateInfo__lastName">
      {{ form.lastName.label }}
      {{ form.lastName(class="form-control") }}
    </div>
  </div>
  <div class="updateInfo__username">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
  </div>
  <div class="updateInfo__email">
    {{ form.email.label }}
    {{ form.email(class="form-control") }}
  </div>
  <!-- <div class="updateInfo__picture">
    {{ form.picture.label }}
    {{ form.picture(class="form-control-file") }}
  </div> -->
  <div class="updateInfo__picture">
    <div class="image__preview">
      {{ form.picture.label }}
      {% if user.image %}
      <div class="profile-image-preview">
        <img src="{{ image_file }}" alt="Profile Picture" class="profile-picture-preview-img" id="imagePreview">
      </div>
      {% else %}
      <div class="profile-image-preview">
        <img src="{{ url_for('static', filename='profile_pics/profile_image_default.jpg') }}" alt="Default Profile Picture" class="profile-picture-preview-img" id="imagePreview">
      </div>
      {% endif %}
      <div class="image__file">
        {{ form.picture(class="form-control-file", id="imageInput") }}
      </div>
    </div>
  </div>
  
  <div class="button__wrapper">
    {{ form.submit(class="updateInfo__button") }}
  </div>
</form>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/previewImage.js') }}"
></script>

{% endblock %}

