/* Filter styles */
  
  .filters__form {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  .filter__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .filter__group label {
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e;
  }
  
  .filter__select, .select2-container {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-width: 150px;
    background-color: #ffffff;
    color: #6e6e6e;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .select2-container {
    padding: 6px 12px;
  }

  .select2-container--default .select2-selection--multiple {
    border: none;
  }
  
  .filter__select:hover {
    background-color: #fafafa;
  }
  
  .clear__filters {
    padding: 8px 16px;
    background-color: #ffffff;
    color: #6e6e6e;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: auto;
  }
  
  .clear__filters:hover {
    background-color: #fafafa;
    text-decoration: none;
    color: #6e6e6e;
  }

@media (max-width: 798px) {
    .filters {
        gap: 20px;
    }

    .filter {
        min-width: auto;
        font-size: 0.9rem;
        padding: 0.3rem 0.8rem;
    }

    .filters label {
        font-size: 0.9rem;
        margin-right: 3px;
    }

    .filter--options {
        width: 100%;
        min-width: 130px;
    }
}

@media (max-width: 480px) {
    .filters {
        flex-direction: column;
        align-items: stretch;
    }

    .filter {
        width: 100%;
        min-width: unset;
        padding: 0.5rem;
        text-align: start;
    }

    .filter--options {
        width: 100%;
    }
}
