.settings__header {
  background-color: #039752;
  color: #fff;
  padding: 30px 30px;
}

#settings__title {
  font-family: "OpenSansSemibold";
  font-size: 1.6em;
}

#settings__subtitles {
  font-family: "OpenSansRegular";
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.settings__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 20px;
}

.settings__content a {
  text-decoration: none;
}

.settings__container {
  background-color: #F4FFF2;
  width: 100%;
  padding: 25px 30px;
  /* height: 200px; */
  border-radius: 10px;
}

.settings__container P {
  margin-bottom: 0;
}

.settings__title {
  color: #039752;
  font-family: "OpenSansSemibold";
  font-size: 1.2em;
}

.settings__title i {
  margin-right: 10px;
}

.settings__paragraph {
  color: #000;
  font-size: 0.9em;
}
