h1 {
  font-family: "OpenSansSemibold";
  font-size: 1.5em;
  margin-bottom: 30px;
}

.billing__content .billing__left h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.billing__header {
  background-color: #039752;
  color: #fff;
  padding: 30px 30px;
}

#billing__title {
  font-family: "OpenSansSemibold";
  font-size: 1.6em;
}

#billing__subtitles {
  font-family: "OpenSansRegular";
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.billing__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c4c4c4;
  padding: 40px 40px;
  border-radius: 20px;
  margin-top: 20px;
}

.billing__content .billing__left h3 {
  font-size: 1.1em;
  font-family: "OpenSansSemibold";
  margin-bottom: 5px;
}

.billing__left div {
  margin-bottom: 20px;
}

.billing__left div:last-child {
  margin: 0;
}

.billing__addButton {
  display: block;
  width: 5vw;
  background-color: #039752;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px !important;
}

.billing__addButton i {
  margin-right: 5px;
}

.billing__editButton, .billing__saveButton {
  background-color: #039752;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.billing__saveButton {
  margin-right: 10px;
}

.billing__cancelButton {
  background-color: #ff4c24;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  border: none;
}

.billing__deleteButton {
  display: flex;
  justify-self: end;
  background-color: #ff4c24;
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.billing__editButton i {
  margin-right: 10px;
}

.editBilling__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.billing__editAddressOne, .billing__editAddressTwo {
  width: 30vw;
}

.billing__addressRow {
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin-bottom: 0;
}

.billing__editUnitNumber, .billing__editPostalCode {
  width: 10vw;
  margin-bottom: 0 !important;
}

.billing__editPhoneNumber {
  width: 15vw;
}

/* Add billing form */

.addBilling__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.addBilling__addressOne, .addBilling__addressTwo {
  width: 40vw;
}

.addBilling__unitNumber, .addBilling__postalCode {
  width: 10vw;
}

.addBilling__addressRow {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.addBilling__phoneNumber {
  width: 15vw;
}

.addBilling__button {
  width: 4vw;
  height: 45px;
  background-color: #039752;
  border: 0;
  font-family: "OpenSansSemibold";
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
}