.content {
    padding: 80px 90px; /* please do remove this if each page is to have custom padding or margin in base.css -nelson */
}

/* product */
.product {
    display: flex;
    gap: 100px;
}

.image__container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 1400px) {
    .image__container {
        width: 300px;
        height: 300px;
    }
    
    .image__container img {
        max-width: 300px;
        max-height: 300px;
    }
}

.product__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h1 {
    font-size: 2em;
    font-weight: bold;
}

.product__right h3 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.product__right .bottom h3 {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.product__right span, .product__right i {
    font-size: 1em;
}

hr {
    margin: 10px 0;
}

.product__right .top h1 {
    font-family: "CharisSILBold";
    margin-bottom: 2px;
}

.product__right .top .typeCreator {
    display: flex;
    align-items: center;
    gap: 3px;
}

.product__right .top .typeCreator i {
    font-size: 1.2em;
    color: #978F8F;
}

.rating {
    font-size: 1.2em;
}

.vSeparator {
    border: 1px solid #978F8F;
    height: 1em;
    margin: 0 10px;
}

.product__right .middle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product__right .middle i.bi-exclamation-circle-fill {
    color: orange;
}

.product__right .middle i.bi-check-circle-fill {
    color: #039752;
}

.product__right .bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product__right .bottom .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.product__right .bottom .condition .conditionTypes {
    display: flex;
    gap: 13px;
}

.product__right .bottom .condition .conditionTypes div {
    padding: 0.5em 1em;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.product__right .bottom a {
    text-decoration: none;
    color: black;
    
    width: 80%;
    border-radius: 10px;
    padding: 0.5em 1em;
    text-align: center;
    align-self: center;
    background-color: #E3E3E3;
    max-width: 550px;
}

.product__right .bottom .wishlist {
    width: 50%;
    max-width: 400px;
}

.product__right .bottom .buyNow {
    background-color: #039752;
    color: white;
}

hr.docSeparator {
    margin: 40px 0;
    border: 1px solid black;
}


/* reviews */
.review .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}