{% extends "dashboard/base.html" %}
{% set active_page = "manage_products" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/resizableTextArea.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/manageProducts/addProduct.css') }}">
{% endblock %}
{% block title %}Add Product{% endblock %}

{% block headerContent %}
<div class="products__header">
    <h1 id="products__title">{% block h1 %}Add New Product{% endblock %}</h1>
    <a href="{{ url_for('manageProducts.products_listing') }}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;<span>Go Back</span></a>
</div>
{% endblock %}

{% block content %}
<div class="body">
    <form method="POST" class="product__form" enctype="multipart/form-data" novalidate>
        <div class="flash-messages"></div> <!-- Container for flash messages -->
        {{ form.hidden_tag() }}

        {{ form.productThumbnail() }}
        <div class="product__name">
            {{ form.productName.label }}
            {{ form.productName(class='form-control', placeholder='Enter product name here...') }}
            <span class="error"></span>
        </div>
        <div class="product__creator">
            {{ form.productCreator.label }}
            {{ form.productCreator(class='form-control', placeholder='Enter product creator name here...') }}
            <span class="error"></span>
        </div>
        <div class="product__images">
            <label>Product Image Upload</label>
            {{ form.productImages.label }}
            {{ form.productImages() }}
            <div class="file-list-wrapper">
                <button class="carousel-button left" type="button" style="display: none;"><i class="bi bi-caret-left-fill"></i></button>
                <div class="file-list"></div>
                <button class="carousel-button right" type="button" style="display: none;"><i class="bi bi-caret-right-fill"></i></button>
            </div>
            <span class="error"></span>       
        </div>
        <div class="product__description">
            {{ form.productDescription.label }}
            {{ form.productDescription(class='form-control resizable', placeholder='Enter product description here...') }}
        </div>
        <div class="centralise-content">
            <div class="product__type">
                {{ form.productType.label }}
                {{ form.productType(class='form-select') }}
                <span class="error"></span>
            </div>
            <div class="product__genre">
                {{ form.productGenre.label }}
                {{ form.productGenre(class='form-select') }}
                <span class="error"></span>
            </div>
        </div>
        <div class="product__conditions">
            <label>Conditions</label>
            {% for condition in form.productConditions %}
            <div class="centralise-content condition">
                {{ condition.condition.label }}
                {{ condition.condition(class='form-select') }}
        
                {{ condition.stock.label }}
                {{ condition.stock(class='form-control', placeholder='Enter product stock here...') }}
        
                {{ condition.price.label }}
                {{ condition.price(class='form-control', placeholder='Enter product price here...') }}

                <button type="button" class="deleteCondition"><i class="bi bi-x-lg"></i></button>
            </div>
            <span class="error condition-error"></span>
            {% endfor %}
            <button type="button" class="addCondition"><i class="fa-solid fa-plus"></i>&nbsp;Add Condition</button>
        </div>
        <div class="product__featured special">
            {{ form.productIsFeaturedSpecial() }}
            <label for="productIsFeaturedSpecial">Feature product in &quot;<a href="/#specials">Specials</a>&quot; &quest;</label>
        </div>
        <div class="product__featured staff">
            {{ form.productIsFeaturedStaff() }}
            <label for="productIsFeaturedStaff">Feature product in &quot;<a href="/#staff_picks">Staff Picks</a>&quot; &quest;</label>
        </div>
        <div class="button__wrapper">
            <input id="submit" name="submit" type="submit" value="{%block submit_value%}Add Product{%endblock%}" fdprocessedid="6nkfut">
        </div>
        {% block images_hidden %}
        {% endblock %}
    </form>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='js/pageInteractions/resizableTextArea.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard/manageProducts/addProduct.js') }}"></script>
{% endblock %}