{% extends "dashboard/base.html" %}
{% set active_page = "manage_products" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/filters.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/manageProducts/productListing.css') }}">
{% endblock %}
{% block title %}Add Product{% endblock %}

{% block headerContent %}
{% endblock %}

{% block content %}
{% if products %}
<div class="products">
    <table>
        <thead>
            <tr>
                <th class="productName">Name</th>
                <th class="productType">Type</th>
                <th class="productGenre">Genre</th>
                <th class="productAvgPrice">Price</th>
                <th class="controls"></th>
            </tr>
        </thead>
        {% for product in products %}
        <tr product-id="{{ product.id }}">
            <td class="productName">
                <div class="thumbnail"><img src="{{ url_for('static', filename='media/uploads/' + product.image_thumbnail) }}" alt="{{ product.name }}"/></div>
                <div class="name"><p>{{ product.name }}</p><p>ID: {{ product.id }}</p></div>
            </td>
            <td class="productType">{{ product.category.category_name }}</td>
            <td class="productGenre">{{ product.subcategories[0].subcategory_name }}</td>
            <td class="productAvgPrice">&dollar;{{ '{:.2f}'.format(product.conditions[0].price) }}</td>
            <td class="controls">
                <div>
                    <a href="{{ url_for('productPagination.product_detail', product_id = product.id) }}"><i class="fa-solid fa-eye"></i></a>
                    <i class="bi bi-trash-fill"></i>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<h1>lol</h1>
{% endif %}
{% endblock %}

{% block body_scripts %}
{% endblock %}