{% extends "dashboard/base.html" %}
{% set active_page = "manage_products" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/multiFilter.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pageInteractions/filters.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/manageProducts/productListing.css') }}">
{% endblock %}
{% block title %}Manage Products{% endblock %}

{% block headerContent %}
<div class="products__header">
    <h1 id="products__title">Manage Products</h1>
    <div class="product__statistics">
        <div class="statistic__box">
            <i class="bi bi-gift-fill fa-xl"></i>
            <div class="product__statistic">
                <p class="statistic__label">Total Products</p>
                <span class="statistic__amount">{{ total_products }}</span>
            </div>
        </div>
        <div class="statistic__box" title="Click to view products classified under &quot;Warnings&quot; first">
            <i class="bi bi-exclamation-circle-fill fa-xl"></i>
            <div class="product__statistic warning">
                <p class="statistic__label">Warnings</p>
                <span class="statistic__amount">{{ total_warnings }}</span>
            </div>
        </div>
    </div>
    <div class="extraPadding"></div>
    <div class="search__wrapper">
        <!-- <div class="search__container">
          <input type="text" id="search__bar" class="search__bar" placeholder="Search by username..." autocomplete="off">
          <i class="fa-solid fa-magnifying-glass search__button" id="search__button"></i>
        </div> -->
        <form method="get" action="{{ url_for('manageProducts.products_listing') }}">
            <!-- Preserve current filter values -->
            {% if category_filter %}
            <input type="hidden" name="category" value="{{ category_filter }}">
            {% endif %}
            {% if subcategory_filter %}
            <input type="hidden" name="subcategory" value="{{ subcategory_filter }}">
            {% endif %}
            {% if status_filter %}
            <input type="hidden" name="status" value="{{ status_filter }}">
            {% endif %}
            <div class="search__container">
            <input
              type="text"
              name="q"
              id="search__bar"
              class="search__bar"
              placeholder="Search by product name..."
              value="{{ search_query }}"
              autocomplete="off"
            >
            <button type="submit" class="search__button" id="search__button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            {% if search_query %}
                <a href="{{ url_for('manageProducts.products_listing') }}" class="clear__button">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </a>
            {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="header">
    <div class="content__filters header__left">
        <form id="filterForm" method="get" action="{{ url_for('manageProducts.products_listing') }}" class="filters__form">
            <!-- Preserve search query if exists -->
            {% if search_query %}
            <input type="hidden" name="q" value="{{ search_query }}">
            {% endif %}
            
            <div class="filter__group">
                <label for="type">Type</label>
                <select name="type" id="type" class="filter__select">
                    <option value="">All</option>
                    {% for value, label in category_choices %}
                    {{ value }}
                    <option value="{{ value }}" {% if category_filter == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="filter__group">
                <label for="genre">Genre</label>
                <select name="genre[]" id="genre" class="filter__select" multiple>
                    <option value="or{% if 'or' in match_req %}@{% endif %}" {% if 'or' in match_req %}selected 1{% endif %}>Match Any</option>
                    {% if subcategory_filter %}
                    <option value="and{% if 'and' in match_req %}@{% endif %}" {% if 'and' in match_req %}selected 1{% endif %}>Match All</option>
                    {% endif %}
                    {% for value, label in subcategory_choices %}
                    <option value="{{ value }}" {% if value in subcategory_filter %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="filter__group">
                <label for="featured">Featured</label>
                <select name="featured" id="featured" class="filter__select">
                    <option value="">All</option>
                    {% for value, label in featured_choices %}
                    <option value="{{ value }}" {% if featured_filter == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter__group">
                <label for="stock">Stock</label>
                <select name="stock" id="stock" class="filter__select">
                    <option value="">All</option>
                    {% for value, label in stock_choices %}
                    <option value="{{ value }}" {% if stock_filter == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="filter__group">
            {% if category_filter or subcategory_filter or featured_filter or stock_filter %}
            <a href="{{ url_for('manageProducts.products_listing', q=search_query) }}" class="clear__filters">Clear Filters</a>
            {% endif %}
            </div>
        </form>
    </div>
    <div class="header__right">
        <a href="{{ url_for('manageProducts.add_product') }}"><h3><i class="fa-solid fa-plus"></i>Add Product</h3></a>
    </div>
</div>
{% if products.items %}
<div class="products">
    <table>
        <thead>
            <tr>
                <th class="productName">Name</th>
                <th class="productType">Type</th>
                <th class="productGenre">Genre</th>
                <th class="productConditions">Conditions</th>
                <th class="productAvgPrice">Avg. Price</th>
                <th class="productStock"></th>
                <th class="controls"></th>
            </tr>
        </thead>
        {% for product in products %}
        <tr product-id="{{ product.id }}">
            <td class="productName">
                <div class="thumbnail">
                    <img src="{{ url_for('static', filename='media/uploads/' + product.image_thumbnail) }}" alt="{{ product.name }}"/>
                    <!-- <img src="https://res.cloudinary.com/dyduc8kjz/image/upload/v1738220526/{{ product.image_thumbnail }}" alt="{{ product.name }}"/> -->
                </div>
                <div class="name"><p>{{ product.name }}</p><p>ID: {{ product.id }}</p></div>
            </td>
            <td class="productType">{{ product.category.category_name }}</td>
            <td class="productGenre">{{ product.subcategories[0].subcategory_name }}</td>
            <td class="productconditions">{{ product.conditions|length }}</td>
            <td class="productAvgPrice">&dollar;{{ '{:.2f}'.format(product.conditions[0].price) }}</td>
            {% if product.conditions[0].stock == 0 %}
                {% set stock_class = 'noStock' %}
                {% set stock_text = 'Out of Stock' %}
            {% elif product.conditions[0].stock <= 10 %}
                {% set stock_class = 'lowStock' %}
                {% set stock_text = 'Limited Stock ( ' + product.conditions[0].stock|string + ' left )' %}
            {% else %}
                {% set stock_class = 'highStock' %}
                {% set stock_text = 'Plenty in Stock' %}
            {% endif %}
            <td class="productStock {{ stock_class }}">
                <div>{{ stock_text }}</div>
            </td>
            <td class="controls">
                <div>
                    <a href="{{ url_for('productPagination.product_detail', product_id = product.id) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ url_for('manageProducts.update_product', product_id = product.id) }}"><i class="fa-solid fa-pen"></i></a>
                    <i class="bi bi-trash-fill"></i>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% set message = get_flashed_messages()[0] if get_flashed_messages() else None %}
{% if deleteForm.deleteConfirm.errors or message %}
    {% set display = 'flex' %}
{% else %}
    {% set display = 'none' %}
{% endif %}
<div class="overlay" style="display: {{ display }}"></div>
<div class="delete__form-container" success="{{ 'true' if message else 'false' }}" id="{{ deleteForm.productID.data }}" style="display: {{ display }};">
    <!-- if you're getting an error for the above, don't mind it. vscode just assumes it as plain html rather than jinja, but when you run it the jinja template will still be processed -->

    <i class="bi bi-x-lg"></i>
    {% if message %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="header">
            {% if category == 'success' %}
            <i class="bi bi-check-circle"></i>
            {% else %}
            <i class="bi bi-plus-circle"></i>
            {% endif %}
            <h2>
                {{ message|replace('\n','<br>')|safe }}
            </h2>
        </div>
        <div class="cancel_button button__wrapper">
            <input type="button" value="Exit">
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    {% else %}
        <div class="header">
            <i class="bi bi-exclamation-circle"></i>
            <h2>You are about to delete the following product</h2>
            <span>This action <b>cannot be undone</b> once performed.</span>
        </div>
        <div class="product"></div>
        <form class="delete__form" method="POST" action="{{ url_for('manageProducts.delete_product') }}">
            {{ deleteForm.hidden_tag() }}
            
            <div class="delete__modal">
                {{ deleteForm.productID() }}
                {{ deleteForm.deleteConfirm(class='form-control', placeholder='Type CONFIRMDELETE to confirm deletion') }}
                {% if deleteForm.deleteConfirm.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for error in deleteForm.deleteConfirm.errors %}
                            {{ error }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <div class="buttons">
                    <div class="cancel_button button__wrapper">
                        <input type="button" value="Cancel">
                    </div>
                    <div class="delete_button button__wrapper">
                        {{ deleteForm.submit() }}
                    </div>  
                </div>                    
            </div>
        </form>
    {% endif %}
</div>
<div class="products__pagination">
    <ul>
        {% if current_page > 1 %}
            <li class="pagePrevious__button">
              <a href="{{ url_for('manageProducts.products_listing', page=current_page-1, q=search_query if search_query else None, type=category_filter if category_filter else None, genre=subcategory_filter if subcategory_filter else None, featured=featured_filter if featured_filter else None, stock=stock_filter if stock_filter else None) }}">
              Previous
              </a>
            </li>
        {% endif %}
        {% for p in range(1, total_pages + 1) %}
            <li class="{% if p == current_page %}active{% endif %}">
              <a class="page__button" href="{{ url_for('manageProducts.products_listing', page=p, q=search_query if search_query else None, type=category_filter if category_filter else None, genre=subcategory_filter if subcategory_filter else None, featured=featured_filter if featured_filter else None, stock=stock_filter if stock_filter else None) }}">
              {{ p }}
              </a>
            </li>
        {% endfor %}
        {% if current_page < total_pages %}
            <li class="pageNext__button">
              <a href="{{ url_for('manageProducts.products_listing', page=current_page+1, q=search_query if search_query else None, type=category_filter if category_filter else None, genre=subcategory_filter if subcategory_filter else None, featured=featured_filter if featured_filter else None, stock=stock_filter if stock_filter else None) }}">
              Next
              </a>
            </li>
        {% endif %}
    </ul>
</div>
{% else %}
<div class="centralise">
    <img src="{{ url_for('static', filename='media/filters_not_found.png') }}" class="none">
    <h2 class="none">Sorry, no products were found with the given search queries and/or filters.</h2>
    <a href="./manage-products" class="none">Try Again</a>
</div>
{% endif %}
  
{% endblock %}

{% block body_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboardFilters.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pageInteractions/multiFilter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard/manageProducts/deleteProduct.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard/manageProducts/productListing.js') }}"></script>
{% endblock %}