table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead tr {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
}

thead th {
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
}

tbody td strong {
    font-size: 16px;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.status.approved {
    background-color: #28a745; /* Green */
}

.status.pending {
    background-color: #ffc107; /* Yellow */
    color: #000;
}

.status.rejected {
    background-color: #dc3545; /* Red */
}

.disabled-btn {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed !important;
    border-color: #aaa !important;
    pointer-events: none; 
}

/* Not working might ditch this */
/* SUCCESS POPUP */
.popup-message {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
}

/* Show popup */
.popup-message.show {
    top: 20px;
    opacity: 1;
}