{% extends "dashboard/base.html" %}
{% set active_page = "manage_accounts" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dashboard/accounts/editAccount.css') }}">
{% endblock %}

{% block title %}Edit Account Details{% endblock %}

{% block content %}

<h1>Editing Account #{{ selectedUser.id }}</h1>
{% include "components/backLink.html" %}

<form method="POST" class="editInfo__form">
  {{ form.hidden_tag() }}

  <!-- Flash validation -->
  {% include "components/flashValidation.html" %}
  
  <div class="editInfo__name">
    <div class="editInfo__firstName">
      {{ form.firstName.label }}
      {{ form.firstName(class="form-control") }}
      {% if form.firstName.errors %}
        {% for error in form.firstName.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
    <div class="editInfo__lastName">
      {{ form.lastName.label }}
      {{ form.lastName(class="form-control") }}
      {% if form.lastName.errors %}
        {% for error in form.lastName.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="editInfo__username">
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="editInfo__email">
    {{ form.email.label }}
    {{ form.email(class="form-control") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <span class="error-message">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <div class="button__wrapper">
    {{ form.submit(class="editInfo__button") }}
  </div>
</form>

{% endblock %}

{% block body_scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/backButton.js') }}"
></script>
{% endblock %}