<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unsubscribe from Newsletter</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/newsletter/unsubscribe.css') }}">
</head>
<body>
  <div class="container">
    <div id="message"></div>
    <button id="unsubscribeBtn">
      Unsubscribe from Newsletter
    </button>
  </div>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/dashboard/newsletter/unsubscribe.js') }}"
  ></script>
</body>
</html>