.accounts__header {
  background-color: #039752;
  color: #fff;
  padding: 30px 30px;
  position: relative;
}

#accounts__title {
  font-family: "OpenSansSemibold";
  font-size: 1.6em;
}

#accounts__subtitles {
  font-family: "OpenSansRegular";
  font-size: 0.8em;
  margin-top: 10px;
  margin-bottom: 0;
}

.account__statistics {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 15px;
}

.statistic__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 6px 20px;
  border-radius: 15px;
}

.user__statistic {
  display: flex;
  flex-direction: column;
}

.statistic__label {
  margin: 0;
  font-family: "OpenSansSemibold";
  font-size: 0.9em;
}

.statistic__amount {
  font-family: "OpenSansBold";
  font-size: 1.5em;
  margin: 0;
  /* height: 30px; */
  line-height: 28px;
}

.statistic__box i , .statistic__label, .statistic__amount {
  color: #039752;
}

.extraPadding {
  height: 14px;
}

.search__wrapper {
  position: absolute;
  bottom: -24px;
  width: 100%;
  padding-right: 30px;
  max-width: calc(100% - 30px);
}

.search__container {
  position: relative;
  display: flex;
  width: 100%;
  /* max-width: calc(100% - 30px); */
}

.search__bar {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 10px;
  background-color: #e6e6e6;
  border: none;
  /* border: 1px solid black; */
}

.search__bar.focused {
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.search__button {
  /* background-color: #039752; */
  padding: 12px;
  color: #039572;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* table */
/* products table */
.accounts table {
  width: 100%;
  /* box-shadow: inset 0 0 0 1px black; */
  border-collapse: collapse;
  border-radius: 10px;
  margin-top: 30px;
}

.accounts th {
  padding: 15px 20px;
}

.accounts td {
  padding: 30px 20px;
}

.accounts td:first-child {
  padding-left: 30px;
}

.accounts th {
  resize: horizontal;
  background-color: #e6e6e6;
}

.accounts th:first-child {
  padding-left: 30px;
}

.accounts th, .content .accounts td:not(:first-child) {
  /* text-align: center; */
}

.accounts tr:first-child th:first-child {
  border-top-left-radius: 10px;
  /* padding-left: 20px; */
}

.accounts tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* .accounts thead tr {
  /* border-bottom: 1px solid black;
  border-radius: 10px;
} */

.accounts tr:not(:last-child) {
  border-bottom: 1px solid rgb(175, 175, 175);
}

.accounts td:first-child {
  display: flex;
  align-items: center;
}

.accounts td:last-child {
  text-align: right;
  padding-right: 30px;
}

.accounts td.controls {
  user-select: none;
}

.accounts td.controls i {
  font-size: 1.2em;
  cursor: pointer;
}

.accounts td.controls i:not(:last-child) {
  margin-right: 0.6em;
}

.accounts tbody tr {
  background-color: #eee;
  transition: background-color 0.3s;
  color: #6e6e6e;
}

.accounts tbody tr:hover {
  background-color: rgb(204, 204, 204);
}

.accounts tbody tr:last-child:hover {
  border-radius: 6px;
}

.accounts tbody td:last-child i {
  transition: color 0.3s
}

.accounts tbody td:last-child i:first-child {
  margin-right: 20px;
}

.accounts tbody td:last-child i:hover {
  color: #039752;
  transform: color 0.3s;
}

.accounts p {
  margin:0;
}

.accounts p:first-child {
  font-size: 1.2em;
  font-weight: bold;
}

.accountId {
  padding-left: 20px;
}