.content {
    padding: 100px 80px 30px 80px;
}

.content .listing__header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 10px;
}

.content .listing__header.bottom {
    margin-bottom: 40px;
}

.content .header__left h1 {
    font-family: "CharisSILBold";
    font-size: 2.5em;
}

.content .header__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filter__group:has(a) {
    border: 1px solid #ddd;
    border-radius: 8px
}

.filter__group a {
    background-color: #e6e6e6;
}

.view-toggle button {
    all: unset;
    font-size: 2rem;
    opacity: 60%;
    cursor: pointer;
}

.view-toggle button:first-child {
    margin-right: 10px;
}

.view-toggle button.active {
    border-bottom: 1px solid black;
    color: #039752;
    font-size: 2rem;
    opacity: 100%;
}

/* product styles */

.products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.product {
    flex: 0 0 auto;
}

.product a {
    text-decoration: none;
    color: black;
}

.product:last-child {
    margin-right: 0;
}

.thumbnail {
    display: grid;
    width: 350px;
    height: 350px;
    background-color: #f5f5f5;
    position: relative;
}

.thumbnail .image img {
    max-width: 250px;
    max-height: 250px;
}

.rating {
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    background-color: #d8d8d8;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0.4em;
}

.rating i.bi-star-fill {
    color: #FFA600;
}

.image {
    position: absolute;
    align-self: center;
    justify-self: center;
}

/* a:has(.cart) {
    position: absolute;
    bottom: 15px;
    right: 15px;
} */
.cart, .favourites {
    position: absolute;
    bottom: 15px;
    border-radius: 100%;
    padding: 1em;
    font-size: 1em;
    z-index: 1;
    cursor: pointer;
}

.cart {
    right: 15px;
    background-color: #039752;
    color: white;
}

.cart form button, .favourites form button {
    all: unset;
}

.favourites {
    left: 15px;
    background-color: #ffffff;
    opacity: 0%;
    transition: 0.5s opacity;
}

.product:hover .favourites {
    opacity: 100%;
}

.heart-container {
    position: relative;
}

.heart-container i {
    top: 0;
    left: 0;
}

.heart-container i.bi-heart {
    z-index: 1;
}

.heart-container i.bi-heart-fill {
    color: white;
    transition: 0.5s color;
    position: absolute;
    z-index: -1;
}

.favourites form:hover i.bi-heart-fill, .heart-container i.fav {
    color: red;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info_left h5, .info_right h5 {
    font-size: 1.32em;
    margin: 0.4em 0 0.1em 0;
    font-weight: bolder;
}

.info_left span, .info_right span {
    font-size: 0.95em;
    color: #978f8f;
}

.info_right {
    text-align: right;
}

.cta {
    display: none;
}

/* List View */
.products.list-view {
display: flex;
flex-direction: column;
gap: 10px;
}

.products.list-view .product {
display: flex;
align-items: center;
gap: 20px;
cursor: pointer;
}

.products.list-view .thumbnail {
flex: 1;
}

.products.list-view .thumbnail .rating {
display: none;
}

.products.list-view .thumbnail .favourites, .products.list-view .thumbnail .cart {
display: none;
}

.products.list-view .misc {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 280px;
width: 100%;
}

.products.list-view .info {
flex: 2;
font-size: 1.2em;
}

.products.list-view .info_left .rating {
position: relative;
top: auto;
right: auto;
background-color: transparent;
padding: 0;
margin-top: 6px;
}

.products.list-view .info_left .rating span {
color: black;
font-size: 0.95rem;
}

.products.list-view .misc .cta {
display: block;
}

.cta-form button.filter {
flex-wrap: wrap;
border: 2px solid #039752;
outline: none;
text-align: center;
width: 80%;
font-size: 1.1em;
font-weight: bold;
display: block;
cursor: pointer;
margin: 15px auto;
padding: 0.8rem 1rem;
background-color: white;
color: #039752;
border-radius: 12px;
transition: all 0.3s ease;
}

.cta-form button.filter:hover {
background-color: rgb(2, 110, 58);
color: white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transform: scale(1.02);
}

.cta-form .filter {
display: flex;
position: relative;
border-radius: 1.5em;
background-color: #efefef;
transition: background-color 0.3s, color 0.5s;
padding: 0.4rem 1rem;
cursor: pointer;
-webkit-user-select: none;
user-select: none;
z-index: 1;
}

.cta-form .filter span {
width: 100%;
text-align: center;
}

.products .description {
display: none;
}

.products.list-view .description {
padding: 10px;
background-color: #f5f5f5;
display: flex;
}

.products.list-view .description p {
margin-bottom: 0;
}

.products.list-view hr.description {
    margin: 60px 0 50px 0;
}

/* Pagination */
.products__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 80px 0;
  }
  
  .products__pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0;
  }
  
  .products__pagination li {
    display: inline-block;
    font-family: "OpenSansSemibold";
  }
  
  .products__pagination .page__button {
    text-decoration: none;
    padding: 8px 14px;
    color: #039752;
    border: 1px solid #039752;
    border-radius: 100px;
  }
  
  .products__pagination .active .page__button {
    background-color: #039752;
    padding: 12px 18px;
    color: white;
  }
  
  .pageNext__button {
    margin-left: 10px;
  }
  
  .pagePrevious__button {
    margin-right: 10px;
  }
  
  .pageNext__button a {
    background-color: #e6e6e6;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
  }
  
  .pagePrevious__button a {
    background-color: #e6e6e6;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
  }

  /* no products */
  .centralise {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img.none {
    height: 400px;
  }
  h2.none {
      margin: 30px 0 20px 0;
  }
  a.none {
    text-decoration: none;
    color: #fff;
    background-color: #039752;
    padding: 10px 20px;
    border-radius: 8px;
  }

  hr.last {
    margin: 80px 0;
  }

  /* Newsletter CTA */
.newsletter {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .newsletter .message {
    margin-top: 10px;
    text-align: center;
  }
  
  .newsletter .message.success {
    color: green;
  }
  
  .newsletter .message.error {
    color: red;
  }
  
  .newsletter__form {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .newsletter__form .form-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30vw;
    margin: 0 auto;
  }
  
  .newsletter__form input[type="email"] {
    width: 100%;
    padding-right: 100px;
    border-radius: 5px;
  }
  
  .newsletter__form input[type="email"]:focus {
    outline: none;
    box-shadow: none; 
  }
  
  #newsletter__submit {
    background-color: #039752;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 15px;
    border: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

/* media query */
@media (max-width: 1400px) {
    .thumbnail {
        width: 268px;
        height: 268px;
    }
    
    .thumbnail .image img {
        max-width: 166px;
        max-height: 166px;
    }
}

@media (max-width: 1350px) {
    .content .listing__header {
        flex-direction: column;
        justify-content: start;
        gap: 10px;
    }

    .content .header__right {
        justify-content: left;
        align-items: start;
    }
}