.tos__container {
  max-width: 750px;
  margin-top: calc(80px + 100px);
  justify-self: center;
  padding: 0 1rem;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 2rem;
}

.tos__section {
  margin-bottom: 2rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.tos__section:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

.tos__section--header {
  font-family: "OpensansBold";
  margin-bottom: 5px;
}